.text-color {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.text-color:hover {
    color: yellow
}

.active {
    color: yellow
}

.space {
    margin-right: 10px;
}